/* WIP: Move from the style tags. */

/* <Filter> */
.filter__fieldset {
  padding: 0;
  margin: 0;
}
.filter__fieldset h2 {
  margin-block-start: 0;
}
.filter__summary {
  padding: 0;
  cursor: pointer;
}
[open] .filter__summary {
  padding-bottom: 0.95rem;
}
.filter__heading {
  margin-top: 0;
  display: inline;
  font-size: 1rem;
  padding: 0 0.5rem;
}
.filter__checkbox-label {
  display: block;
  padding: 5px 0;
}
.filter__checkbox {
  margin-inline: 10px;
}
.filter__fieldset {
  border: none;
}
.filter__checkbox-label,
.filter__checkbox {
  cursor: pointer;
}

/* <ImageCarousel> */
.image-carousel__carousel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
}
.image-carousel__slider-image {
  min-width: 650px;
  min-height: 400px;
  margin: 10px;
}

.image-carousel__slide-btn--right {
  transform: rotate(180deg);
}
.image-carousel__slide-btn {
  margin: 0 10px;
  cursor: pointer;
}
.image-carousel__slide-btn:disabled {
  opacity: 0.5;
  cursor: inherit;
}
.image-carousel__slide-btn > img {
  background: transparent;
  border: none;
  width: 50px;
  height: 59px;
}
@media only screen and (max-width: 600px) {
  .image-carousel__slider-image {
    min-width: 60%;
    min-height: 60%;
  }
}

/* <Loading> */
.loading__ajax-progress {
  display: inline-block;
}

.absolute {
  position: absolute !important;
}

.ajax-progress__throbber {
  box-sizing: border-box;
  width: 1.125rem;
  height: 1.125rem;
  animation: pb-throbber 0.75s linear infinite;
  border: 2px solid #003cc5;
  border-right: 2px dotted transparent;
  border-radius: 50%;
}

.ajax-progress--fullscreen {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 3.5rem; /* 56px */
  height: 3.5rem;
  margin: -1.75rem;
  border: 1px solid rgba(216, 217, 224, 0.8);
  border-radius: 3.5rem;
  background: #fff;
  box-shadow: 0 0.25rem 0.625rem rgba(34, 35, 48, 0.1);
}

.ajax-progress__throbber--fullscreen {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.75rem; /* 28px */
  height: 1.75rem; /* 28px */
  margin: -0.875rem;
  content: "";
  border: 3px solid #003cc5;
  border-right: 3px dotted transparent;
}

@keyframes pb-throbber {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/* <ModulePage> */
.module-page__wrapper {
  display: flex;
  text-align: start;
}
.module-page__sidebar {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.module-page__main {
  flex: 4;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.module-page__action-button-wrapper {
  margin: 20px;
}
.module-page__divider {
  border: 1px solid #000000;
}
.module-page__categories-label {
  font-weight: bold;
}
.module-page__module-details-grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  line-height: 20px;
  margin-top: 10px;
}

.module-page__module-details-grid > *:nth-child(odd) {
  margin: 10% 20% 0 40%;
}

.module-page__module-details-grid > *:nth-child(even) {
  margin: 5px 15px;
}
.module-page__category-list {
  margin: 0.25em 0 0.25em 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  height: 20px;
  cursor: pointer;
}
.module-page__category-list-item {
  list-style: none;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-inline-start: 7px;
  padding: 2px 9px;
  border-radius: 25px;
  background-color: #e5e5e5;
  font-size: 0.9em;
  font-weight: 600;
  color: #4f4f4f;
}
.module-page__project-logo {
  min-height: 200px;
}
.module-page__carousel-wrapper {
  margin: 20px 0;
}
.module-page--back-to-browsing {
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .module-page__wrapper {
    flex-direction: column;
  }
}

/* <PagerItem> */
.pager__link--forward::after {
  margin-inline-start: 0.5rem;
}
.pager__link--backward::before {
  margin-inline-end: 0.5rem;
}

/* <Pagination> */
.pagination__pager {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__num-projects {
  margin: 0 10px;
}
@media only screen and (max-width: 32rem) {
  .pagination__pager {
    flex-direction: column;
  }
}

/* <ProjectBrowser> */
.project-browser__toggle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.5em;
  font-family: inherit;
  color: #232429;
  background-color: #d3d4d9;
  width: 80.41px;
  height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.project-browser__list-icon,
.project-browser__grid-icon {
  pointer-events: none;
}
.project-browser__toggle:first-child {
  margin-inline-start: auto;
}
.project-browser__toggle-buttons {
  display: flex;
  margin-inline-end: 25px;
  font-weight: bold;
}
.project-browser__toggle:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
}
.project-browser__toggle.project-browser__list-button {
  margin-inline-end: 5px;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
}
.project-browser__toggle.project-browser__grid-button {
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  margin-inline-end: 5px;
}
.project-browser__selected-tab {
  background-color: #adaeb3;
}
.search-results {
  font-weight: bold;
  margin-inline-start: 10px;
  margin-bottom: 5px;
}
.project-browser__install-warning {
  border: 1px solid red;
  padding: 1em;
}
.project-browser__warning {
  margin: 0.5em 0;
}
.project-browser__warning-header {
  color: red;
}
.search-results-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}
#output {
  display: inline-block;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-left: 20px;
}

@media (forced-colors: active) {
  .project-browser__toggle {
    border: 1px solid;
  }
  @media (prefers-color-scheme: dark) {
    .project-browser__list-icon {
      filter: invert(1);
    }
    .project-browser__grid-icon {
      filter: invert(1);
    }
  }
}

/* <ProjectGrid> */
.project-browser__container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

@media screen and (min-width: 800px) {
  .project-browser__container {
    flex-flow: row wrap;
  }
}

.project-browser__aside {
  flex: 0 1 max-content;
}
.project-browser__main {
  flex: 1 1 0;
}

.projects-list,
.projects-grid {
  --grid-layout-gap: 1rem;
  --grid-item--min-width: 340px;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  gap: var(--grid-layout-gap);
  list-style-type: none;
  margin: 0;
}

.projects-grid {
  --grid-column-count: 5;
}

.projects-list {
  --grid-column-count: 1;
}


/* <Tabs> */
.tabs__tab {
  border: 0;
  cursor: pointer;
}
.tabs__tab:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
}
.project-browser__plugin-tabs {
  display: flex;
}
.project-browser__plugin-tab {
  margin-inline: 0 5px;
  height: auto;
  min-height: 30px;
  cursor: pointer;
}

/* <Project/ActionButton> */
.action-button__wrapper {
  margin-inline-start: auto;
}

.action-button__unicode {
  color: #228572;
}

/* <Project/Categories> */
.categories__list {
  margin: 0.25em 0 0.25em 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  height: 20px;
}
.categories__category {
  list-style: none;
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px 9px;
  border-radius: 25px;
  background-color: #e5e5e5;
  font-size: 0.9em;
  font-weight: 600;
  color: #4f4f4f;
}
.categories__category:not(:first-child, .categories__category--extra) {
  margin-inline-start: 4px;
}
.categories .categories__category--extra {
  background-color: transparent;
  border: 1px solid #bbb;
}
.categories__list--grid {
  text-align: center;
}
@media (forced-colors: active) {
  .categories__category {
    border: 1px solid;
  }
}

/* <Project/Image> */
.image-carousel__slider-image,
.project__logo-image {
  display: block;
  margin-inline: auto;
  width: 50%;
  object-fit: scale-down;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .image-carousel__slider-image,
  .project__logo-image {
    display: block;
    width: auto;
    border-radius: 5px;
    height: 100px;
  }
}

/* <Project/LoadingEllipsis> */
.loading-ellipsis {
  position: relative;
}

.loading-ellipsis:after {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

/* <Project/Project> */


/* One column card view */
.project {
  padding: 1em;
}
.project--grid {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  border: 1px solid rgba(212, 212, 218, 0.8);
  border-radius: 2px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}

.project__title {
  margin-block: 0;
}

.project--grid .project__title {
  text-align: center;
}

.project__link {
  color: black;
}
.project__link:hover {
  color: #003ecc;
}

.project--grid .project__body {
  text-align: center;
}

.project__icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block-start: auto;
}
.project__body {
  font-size: 15px;
}
.project--list {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "aside main"
    "aside footer";
  gap: 1rem;
  background: #ffffff;
  border: 0.5px solid #a4a2a2;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.project--list .project__image {
  padding-inline-start: 4em;
}

.project--list .project__icons {
  grid-area: footer;
}

.project--list .project__logo {
  grid-area: aside;
  justify-self: center;
}
.project__logo-image {
  margin: 0;
}
.project--list .project__main {
  grid-area: main;
}
.project__icons p {
  display: inline;
}
.project__icons.warnings {
  display: block;
}
.project__icons.warnings span {
  display: list-item;
}
.project__icons.warnings img {
  display: inline;
  width: 1.2rem;
  position: relative;
  bottom: -0.25rem;
}
.warnings + .action {
  margin-inline-end: 1em;
  margin-bottom: 1em;
}
.project__project-usage-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project__status-icon {
  display: block;
  line-height: 0px;
}
.project__active-installs-text,
.project__install-count {
  font-size: 13px;
}

/* <Project/ProjectButtonBase> */
.project_button--primary {
  margin: 0 !important;
  border-width: 0 !important;
  box-shadow: none;
  color: #fff;
  height: 24px;
  font-size: 12.65px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
@media (forced-colors: active) {
  .project_button--primary {
    border: 1px solid !important;
  }
}

/* <Project/ProjectIcon> */
.pb-icon--project-listing {
  width: 2.4em;
}
.pb-icon--module-details {
  width: 25px;
}

@media (forced-colors: active) and (prefers-color-scheme: dark) {
  .pb-icon--usage {
    filter: invert(1);
  }
}

/* <Project/ProjectStatusIndicator> */
.project_status-indicator {
  font-weight: bold;
  text-decoration: none;
}

/* <Search/FilterApplied> */
.filter-applied {
  word-wrap: break-word;
  font-size: 0.875rem;
  color: white;
  display: inline-flex;
  align-items: center;
  border-radius: 25px;
  background: #013cc5;
  padding: 10px;
  margin-inline-end: 10px;
  width: auto;
  height: auto;
}
.filter-applied__button-close {
  display: inline-flex;
  padding: 0;
  margin-inline-start: 10px;
  outline: none;
  box-shadow: none;
  border: none;
  background: none;
  cursor: pointer;
}
.filter-applied__button-close > img {
  transform: scale(1.4);
  height: 20px;
  width: 20px;
}

@media (forced-colors: active) {
  .filter-applied {
    border: 1px solid;
  }
  @media (prefers-color-scheme: light) {
    .filter-applied__button-close > img {
      filter: invert(1);
    }
  }
}

/* <Search/FilterGroup> */
.filter-group__radio {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  inset-inline-start: 5px;
}
.filter-group__radio:hover {
  cursor: pointer;
}

.filter-group {
  flex-wrap: wrap;
  flex-direction: column;
  display: inline-grid;
  position: relative;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-inline-start: 15px;
  padding-top: 15px;
  justify-content: flex-start;
}

.filter-group__title-wrapper {
  font-size: 18px;
  margin-inline-end: 10px;
}

.filter-group__filter-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  flex-direction: column;
}

.filter-group__filter-option {
  margin-bottom: 10px;
  line-height: 25px;
  position: relative;
}

@media only screen and (max-width: 72rem) {
  .filter-group {
    display: table;
  }
}

/* <Search/Search> */
.search__form-item {
  margin-top: 0;
}
.search__form {
  margin-top: 2.375rem;
  display: inherit;
  flex-wrap: wrap;
  padding: 0 0 1.5rem;
}

.search__search-bar .search__search_term {
  width: 100%;
  outline: none;
  height: 50px;
  position: relative;
  display: flex;
}

.search__search-bar {
  height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  border: 1px solid #919297;
  border-radius: 2px;
}

.search__search-icon {
  position: absolute;
  bottom: 12px;
  inset-inline-end: 30px;
}

.search__search_term::placeholder {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
}

.dropdown-filters {
  position: relative;
  border: 3px solid #f3f4f9;
  z-index: 1;
}

.search__grid-container {
  display: grid;
  height: auto;
  grid-template-columns: 5fr auto auto;
  grid-gap: 20px;
  background: #f3f4f9;
  padding: 5px;
  align-items: center;
  max-width: 100%;
}

.search__filter-button {
  padding: 0 0.25rem;
  background: none;
  border: none;
  color: #013cc5;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 855px) {
  .search__grid-container {
    display: block;
  }
}

/* <Search/SearchFilters> */
@media only screen and (min-width: 1200px) {
  .small-icons {
    margin-top: -3px;
    margin-inline-end: 1px;
  }
  .search__checkbox-label {
    font-weight: normal;
    padding-inline-start: 35px;
    display: flex;
  }
  .search__checkbox-label {
    font-weight: normal;
    padding-inline-start: 35px;
    display: flex;
    margin-right: unset;
  }
}

/* <Search/SearchFilterToggle> */
.search__filter__toggle-container {
  display: flex;
  margin-inline-end: 1em;
}

.search__filter__toggle {
  background-color: #d3d4d9;
  color: black;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  border-radius: 2px;
  width: fit-content;
  margin-inline-start: 15px;
  text-decoration: underline;
}
.search__filter__toggle.is_open {
  background-color: #adaeb3;
}
.search__filter__toggle:hover {
  cursor: pointer;
}

.search__filter__toggle-img {
  width: 20px;
  height: 14px;
  padding: 0 0.25rem;
  margin-bottom: -2px;
  margin-inline-end: 4px;
}
@media (forced-colors: active) {
  .search__filter__toggle {
    border: 1px solid;
  }
  @media (prefers-color-scheme: dark) {
    .search__filter__toggle-img {
      filter: invert(1);
    }
  }
}

/* <Search/SearchSort> */
.search__sort {
  z-index: 2;
}

.search__sort-select {
  border: none;
  background-color: #d3d4d9;
}
.search__sort-select:hover {
  cursor: pointer;
}

@media screen and (max-width: 855px) {
  .search__sort {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
@media (forced-colors: active) {
  #pb-sort {
    border: 1px solid;
  }
}
